<!DOCTYPE html>
<html lang="{{language}}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<title>{{title}}</title>
<link rel="icon" href="{{icon|urlencode}}" >

<style>
body {
  font: normal 14px Verdana, Arial, sans-serif;
  display: none;
}
.float-child {
   height: 100%;
   float: left;
   padding-left: 10px;
   border-left: 2px solid grey;
   }
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: blue;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  color: lightgrey;
}
</style>
{% include 'menu.css' %}
<script src="{{record.relpath_to_root}}.gallery/history.js"></script>
<script>
function query_history(mode) {
    // mode = store|retrieve
    let relpath_to_root = '{{record.relpath_to_root}}';
    let movie = "{{record['title_uniq']|urlencode}}";
    window.open(`${relpath_to_root}.gallery/movies-history.htm?mode=${mode}&movie=${movie}&back={{record.movie_page|urlencode}}`, "_self");
}

function onload() {
    const params = new URLSearchParams(window.location.search);

    if (params.get('mode') == 'back') {
        let history = params.get('history');
        document.getElementById("history").innerHTML = history_ul(history);
        document.getElementsByTagName("body")[0].style.display = "block";
    } else {
        query_history('retrieve');
    }
}

function add_date() {
    query_history('store');
}
</script>
</head>

<body onload="onload();">

<div style="width: 95%; margin-left: auto; margin-right: auto">
    <div style="width: 94%; height:0px; top: 0; position: fixed; ">
        {% include 'menu.htm' %}
    </div>

<div class="float-child" style="width: 240px;">
<img src="{{record.cover|urlencode}}" width="200" alt="Cover" style="box-shadow: 1px 1px 5px 5px  #c0c0c0">
<br>
<br>
<a href="{{record.storyboard|urlencode}}">
<img src="{{record.storyboard|urlencode}}" width="200" alt="Cover" style="box-shadow: 1px 1px 5px 5px  #c0c0c0">
</a>
<br>
<br>
<br>
<a href="{{movie_link|urlencode}}">{{T('Play')}}</a>
<br>
<a {{imdb_link}}>{{T('Show on IMDB')}}</a>
<br>
<a {{wikipedia_link}}>{{T('Show on Wikipedia')}}</a>
<br>
<a {{google_link}}>{{T('Search on Google')}}</a>
<br>
<br>

<p style='margin-bottom:0;' >{{T('History')}}:</p>
<div id="history">
</div>
</div>

<div class="float-child" style="width: 33%;">

<h3>{{T('Title')}}</h3>
<ul>
    <li>{{record.title}}</li>
</ul>

<h3>{{T('Year')}}</h3>
<ul>
    <li>{{record.year}}</li>
</ul>

<h3>{{T('Director')}}</h3>
<ul>
{% if not record.director_list %}
    <li>Not specified</li>
{% else %}
    {% for director in record.director_list %}
        {% if loop.index <= 2 %}
            <li><a href="https://en.wikipedia.org/wiki/{{director|urlencode}}">{{director}}</a></li>
        {% else %}
            <li title="{{director}}">...</li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>

<h3>{{T('Cast')}}</h3>
<ul>
{% if not record.actor_list %}
    <li>Not specified</li>
{% else %}
    {% for actor in record.actor_list %}
        {% if loop.index < loop.length %}
            <li><a href="https://en.wikipedia.org/wiki/{{actor|urlencode}}">{{actor}}</a></li>
        {% else %}
            <li title="{{actor}}">...</li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>

<h3>{{T('Runtime')}}</h3>
<ul>
    <li>{{record.runtime}} minutes</li>
</ul>

<h3>{{T('Dimension')}}</h3>
<ul>
    <li>{{record.width}} x {{record.height}}</li>
</ul>

<h3>{{T('File size')}}</h3>
<ul>
    <li>{{record.filesize|filesizeformat}} ({{space_thousands(record.filesize)}} octets)</li>
</ul>
</div>

<div class="float-child" style="width: 33%;">
{% for director, movies, paths in zip(record.director_list, record.dirothermovies, record.path_to_dirothermovies) %}
    {% if director %}
        <h3>{{T('Other movies of')}} {{director}} {{T('in collection')}}</h3>
        <ul>
        {% if not movies %}
            <li>None</li>
        {% else %}
            {% for movie, path in zip(movies, paths) %}
                <li><a href="{{path|urlencode}}">{{movie}}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    {% endif %}
{% endfor %}

{% for actor, movies, paths in zip(record.actor_list, record.castothermovies, record.path_to_castothermovies) %}
    {% if movies %}
        <h3>{{T('Other movies of')}} {{actor}} {{T('in collection')}}</h3>
        <ul>
            {% for movie, path in zip(movies, paths) %}
                <li><a href="{{path|urlencode}}">{{movie}}</a></li>
            {% endfor %}
       </ul>
    {% endif %}
{% endfor %}
</div>

</div>
</body>
</html>
