<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{title}}</title>
<link rel="icon" href="{{icon}}" />

<style type="text/css">
body {
  font: normal 14px Verdana, Arial, sans-serif;
}
.float-child {
   height: 100%;
   float: left;
   padding-left: 10px;
   border-left: 2px solid grey;
   }
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: blue;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  color: lightgrey;
}
</style>
<script>
function onload() {
    const params = new URLSearchParams(window.location.search);
    if (params.get('dates')) {
        if (params.get('dates') == 'remove')
            localStorage.removeItem('dates');
        else
            localStorage.setItem('dates', params.get('dates'));
        window.close();
    }
    if (localStorage.getItem('dates')) {
        var dates = localStorage.getItem('dates').split(',');
        var s = '';
        for (const date of dates) {
            s += '<li>' + date + '</li>';
        }
        document.getElementById("history").innerHTML = s;
    }
}

function add_date() {
    var movie = '{{record['movie_page']}}';
    var today = new Date();
    var options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
    };
    var fdate = today.toLocaleDateString("fr-FR", options);
    var prevdates = localStorage.getItem('dates');
    var dates = (prevdates == null) ? fdate : (prevdates + ',' + fdate);

    localStorage.setItem('dates', dates);
    window.open(`../.gallery/movies-history.htm?mode=store&movie=${movie}&dates=${dates}`);
    location.reload();
}
</script>
</head>

<body onload="onload();">

<div style="width: 95%; margin-left: auto; margin-right: auto">
    <div style="width: 94%; height:0px; top: 0; position: fixed; ">
        {% include 'menu.htm' %}
    </div>

<div class="float-child" style="width: 240px;">
<img src="{{record.cover}}" width=200px style="box-shadow: 1px 1px 5px 5px  #c0c0c0"/>
<br>
<br>
<br>
<a href="{{movie_link}}">{{T('Play')}}</a>
<br>
<a {{imdb_link}}>{{T('Show on IMDB')}}</a>
<br>
<a {{wikipedia_link}}>{{T('Show on Wikipedia')}}</a>
<br>
<a {{google_link}}>{{T('Search on Google')}}</a>
<br>
<br>

<p style='margin-bottom:0;' >{{T('History')}}:</p>
<ul style='margin-top:2px;'>
<div id="history">
</div>
<li><a href='javascript:add_date();' title="{{T('Add as viewed today')}}">...</a></li>
</ul>
</div>

<div class="float-child" style="width: 33%;">

<h3>{{T('Title')}}</h3>
<ul>
    <li>{{record.title}}</li>
</ul>

<h3>{{T('Year')}}</h3>
<ul>
    <li>{{record.year}}</li>
</ul>

<h3>{{T('Director')}}</h3>
<ul>
{% if not record.director_list %}
    <li>Not specified</li>
{% else %}
    {% for director in record.director_list %}
        {% if loop.index <= 2 %}
            <li><a href="https://en.wikipedia.org/wiki/{{director}}">{{director}}</a></li>
        {% else %}
            <li title="{{director}}">...</li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>

<h3>{{T('Cast')}}</h3>
<ul>
{% if not record.actor_list %}
    <li>Not specified</li>
{% else %}
    {% for actor in record.actor_list %}
        {% if loop.index < loop.length %}
            <li><a href="https://en.wikipedia.org/wiki/{{actor}}">{{actor}}</a></li>
        {% else %}
            <li title="{{actor}}">...</li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>

<h3>{{T('Runtime')}}</h3>
<ul>
    <li>{{record.runtime}} minutes</li>
</ul>

<h3>{{T('Dimension')}}</h3>
<ul>
    <li>{{record.width}} x {{record.height}}</li>
</ul>

<h3>{{T('File size')}}</h3>
<ul>
    <li>{{record.filesize|filesizeformat}} ({{space_thousands(record.filesize)}} octets)</li>
</ul>
</div>

<div class="float-child" style="width: 33%;">
{% for director, movies, paths in zip(record.director_list, record.dirothermovies, record.path_to_dirothermovies) %}
    {% if director %}
        <h3>{{T('Other movies of')}} {{director}} {{T('in collection')}}</h3>
        <ul>
        {% if not movies %}
            <li>None</li>
        {% else %}
            {% for movie, path in zip(movies, paths) %}
                <li><a href="{{path}}">{{movie}}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    {% endif %}
{% endfor %}

{% for actor, movies, paths in zip(record.actor_list, record.castothermovies, record.path_to_castothermovies) %}
    {% if movies %}
        <h3>{{T('Other movies of')}} {{actor}} {{T('in collection')}}</h3>
        <ul>
            {% for movie, path in zip(movies, paths) %}
                <li><a href="{{path}}">{{movie}}</a></li>
            {% endfor %}
       </ul>
    {% endif %}
{% endfor %}
</div>

</div>
</body>
</html>
